.animals img{
    display: flex;
    justify-content: center;
    height:20rem;
    width: 15rem;
    border: solid black 2px;
    margin: 20px;
}

.animals{
    display: flex;
    justify-content: center;
    margin:10rem;

}

h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 5rem;
    color:green;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}